<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tạo người dùng mới</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div th:insert="admin/layout/header :: header"></div>
<div class="container">
    <h1>Cập nhật thông tin User</h1>

    <form action="#" th:action="@{/admin/user/update}" th:object="${user}" method="post">

        <div class="mb-3 row">
            <label for="username" class="col-sm-2 col-form-label">User Name: </label>
            <div class="col-sm-10">
                <input type="text" id="username" th:field="*{username}" class="form-control" required/>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label">Email: </label>
            <div class="col-sm-10">
                <input type="email" id="email" th:field="*{email}" class="form-control" disabled/>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="phone" class="col-sm-2 col-form-label">Phone: </label>
            <div class="col-sm-10">
                <input type="text" id="phone" th:field="*{phone}" class="form-control" required/>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="address" class="col-sm-2 col-form-label">Address: </label>
            <div class="col-sm-10">
                <input type="text" id="address" th:field="*{address}" class="form-control" required/>
            </div>
        </div>


        <!-- Hidden field to store ID -->
        <input type="hidden" th:field="*{id}"/>

        <!-- Submit Button -->
        <div>
            <button class="btn btn-primary" type="submit">Lưu</button>
            <a class="btn btn-danger" href="/admin/user">Hủy</a>
        </div>

    </form>
    <a href="/admin/user">Back to User List</a>
</div>


</body>
</html>
